@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;1,6..12,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  /* ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

  .c-container {
    @apply min-h-[100svh] px-4;
  }

  img{
    @apply w-full h-full block
  }

  /* .button-filled {
    @apply text-sm font-medium bg-purple text-white py-4 px-7 rounded-full cursor-pointer duration-200 hover:bg-transparent hover:text-purple hover:ring-2 hover:ring-inset hover:ring-purple;
  }

  .button-outlined{
    @apply text-sm font-medium bg-none border-white border-2 text-white py-4 px-7 rounded-full cursor-pointer duration-200  hover:bg-purple hover:border-purple  
  } */
}
